
/*
    Numbers
*/
.square-line {
    position: relative;
    display: flex;
    height: @squareHeight;
    width: 100%;
}

.square-line:before {
    counter-increment: numero -1;
    content : counters(numero, "");
    height: @squareHeight;
    width: (@squareHeight / 2);
    left: -(@squareHeight / 2);
    display: flex;
    align-items: center;
    position: absolute;
}

/*
    Letters
*/
.square-line:nth-child(8) .square::before {
    position: absolute;
    font-style: normal;
    bottom: -(@squareHeight / 2);
    width: @squareWidth;
    height: @squareHeight / 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.square-line:nth-child(8) {
    counter-reset: letters;
}

.square-line:nth-child(8) .square::before {
    counter-increment: letters;
    content: counter(letters, lower-alpha);
}
